.landingTitle {
  font-family: 'Amatic SC', cursive !important;
}

.menu.item {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
}

#carouselbackgroundcolor {
  background-color: #9FE2BF;
}

#navbarColor {
  background-color: #111E6C;
}

body {
  font-family: 'Quicksand', sans-serif !important;
}

.map{
  height: 500px;
}

.nameCenter {
  padding: 10px;
}
